/* kaale color bg */
body{
  background-color: #000000;
}
#username{
  text-align: left;
}
.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* nav bar ka style */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* hovering effect */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* link color */
  .topnav a.active {
    background-color: #ffffff49;
    color: white;
  }
  .w3-lobster {
    font-family: "Lobster", Sans-serif;
  }